parameters:
    tmpDir: ./build/cache/phpstan
    level: max
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    paths:
        - ./src
        - ./tests
        - ./resources/console
