parameters:
    tmpDir: ./build/cache/phpstan
    level: max
    treatPhpDocTypesAsCertain: false
    paths:
        - ./src
        - ./tests
    ignoreErrors:
        -
            message: '#Declaring PHPStan namespace is not allowed in 3rd party packages\.#'
            path: tests/stubs/phpstan.php
