parameters:
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        -
            message: "#^Unsafe usage of new static\\(\\)\\.$#"
            count: 3
            path: src/AbstractCollection.php
